/*
  Index Partial CSS
*/

.title {
  text-align: center;
  background-color: #1ED760 !important;
  color: #1ED760;
}

a.jumbo-title:link {
  color: #3d3d3f;
}

a:hover, a:visited, a:link, a:active a:focus {
  text-decoration: none !important;
}

body {
  background-color: #3d3d3f !important;
	padding: 15px 15px 15px 15px;
}

a.about:link {
  color: #3d3d3f;
}

a.about:hover {
  text-decoration: none;
}


/*
  Login Partial CSS
*/

.spotify {
  padding-top: 32px;
  align-items: center;
}

.login {
  text-align: center;
  color: #3d3d3f;
}

a.login:link {
  color: #7dce94;
}

a.login:hover {
  text-decoration: none;
  color: #7dce94;
}

.login-panel {
  border-color: #1ED760 !important;
}

.panel {
  border-color: #1ED760 !important;
}

.panel-default > .login-panel-heading {
  background-image: none;
  background-color: #1ED760 !important;
  color: #3d3d3f;
}

.panel-body {
  text-align: center;
}

.playlist-btn {
	margin-top: 10px;
	margin-bottom: 10px;
	text-overflow: ellipsis;
}

.playlists-list {
	overflow: auto;
	max-height: 300px;
	text-overflow: ellipsis;
}

.songs-list {
	overflow: auto;
	max-height: 300px;
	text-overflow: ellipsis;
}

.song-box {
	text-overflow: ellipsis;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 10px;
	border: medium solid #1ED760;
}

.album-art {
	height: 64px;
	width: 64px;
	border: 1px solid #1ED760;
}

.artist-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.artist-list > li {
	float: left;
	display: inline;
	padding: 5px;
	text-align: center;
}
