<div class="about text-center">
  <div class="panel panel-default">
    <div class="panel-heading title custom-panel-heading">
      <h2>About Valet</h2>
    </div>
    <div class="panel-body login-panel">
      <h3>Valet hopes to make your life as party host, or bored person, slightly more entertaining.</h3>
      <h4 class="lead">This is a <em>free*</em> service to identify and retrieve music videos based on your Spotify playlists.</h4>
      <br>
      <h4>Use Valet to share your favorite music on your computer, phone, tablet, or television (with Google Chromecast!) with your friends!</h4>
			<h5>*You may need Spotify premium for the best experience.</h5>
			<br>
			<h3>Please contact me with any feedback or for the latest updates I have planned. You can find links to Twitter and Github in the navbar!<h3>
    </div>
  </div>
</div>
