<div class="row">
  <div class="col-md-8 col-md-offset-2 about text-center">
    <div class="panel panel-default">
      <div class="panel-heading login-panel-heading">
        <div class="panel-title">
            <h3>About</h3>
        </div>
      </div>
      <div class="panel-body login-panel">
        <h4 class="col-md-8 col-md-offset-2">
          Retrieve a list of your Spotify playlists and cast their music videos (from YouTube) to your chrome-cast enabled devices.
        </h4>
      </div>
    </div>
  </div>
</div>
