<div class="about text-center">
  <div class="panel panel-default">
    <div class="panel-heading custom-panel-heading">
      <h2>About Valet</h2>
    </div>
    <div class="panel-body login-panel">
      <h3>Valet hopes to make your life as party host, or bored person, slightly more entertaining.</h3>
      <h4 class="lead">This is a <em>free*</em> service to identify and retrieve music videos based on your Spotify playlists.</h4>
      <br>
      <h5>Use Valet to share your favorite music on your computer, phone, tablet, or television (with Google Chromecast!) with your friends.</h5>

    </div>
  </div>
</div>
