<div ng-controller="contentController" class="panel panel-default">
	<div class="panel-heading title custom-panel-heading text-center">
		<h2>May we take your keys?</h2>
	</div>
	<!-- <div class="information-panel">
	<div class="row">
	<img class="mx-auto img-circle img-responsive profile-img" src="{{::userInfo.images[0].url}}" alt="Profile Picture" />
	<h2 class="username text-center">Welcome, {{::userName()}}.</h2>
</div>
<h2>Choose a playlist</h2>
</div> -->
<div class="transitional-div">
	<div class="content-anim" ng-if="!playlistSelected">
    <div class="text-center">
      <h1 class="helper-text page-header"><i class="hidden-xs fa fa-long-arrow-left"></i> Select a playlist <i class="visible-xs fa fa-level-up"></i></h1>
    </div>
	</div>
	<div class="content-panel content-anim" ng-if="playlistSelected && !youtubeSearched">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<span ng-click="deselectPlaylist()" class="glyphicon glyphicon-backward btn btn-default btn-sm"></span>
				Playlist Preview
			</div>
			<div class="panel-body content-list">
				<div class="song-box" ng-repeat="track in tracks">
          <div class="media">
            <a class="media-left">
              <img class="album-art media-object" src="{{::track.track.album.images[0].url}}" alt="AlbumArt" />
            </a>
            <div class="media-body">
              <h4 class=media-heading>{{::track.track.name}}</h4>
              <ul class="artist-list">
                <li ng-repeat="artist in track.track.artists">{{::artist.name}}</p>
                </ul>
              </div>
            </div>
          </div>
				</div>
				<div class="panel-footer text-center">
					Take my keys
					<span class="glyphicon glyphicon-search btn btn-success btn-sm" ng-click="findVideos(tracks)"></span>
				</div>
			</div>
		</div>
		<div class="content-anim" ng-if="youtubeSearched">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<span ng-click="deselectPlaylist()" class="glyphicon glyphicon-backward btn btn-default btn-sm"></span>
					Music Videos
				</div>
				<div class="panel-body full-width">
					<div class="flex-container content-list">
						<div ng-repeat="link in links" class="flex-col">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="{{::link.link}}" class="embed-responsive-item" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
