<div class="login text-center">
  <div class="panel panel-default">
    <div class="panel-heading custom-panel-heading">
      <h2>Valet</h2>
    </div>
    <div class="panel-body login-panel">
      <h3 class="col-md-8 col-md-offset-2">
        Let us do the work while you watch your music
      </h3>
      <h4 class="col-md-8 col-md-offset-2">
        Sign into your spotify account and we'll deliver your playlists.
      </h4>
      <div class="col-md-4 col-md-offset-4 spotify">
        <img src="src/styles/Spotify_Icon_RGB_Green_64px.png" alt="Spotify Logo" />
      </div>
      <div class="login col-md-4 col-md-offset-4">
        <h3>
          <a href="/login" class="login">Sign in</a>
        </h3>
      </div>
    </div>
  </div>
</div>
